/* ********** PROPIEDADES PERSONALIZADAS ********** */
:root {
    /* Colores */
    --clr-white: #fff;
    --clr-neutral-400: #030303;
    --clr-accent-700: rgb(90, 0, 235);
    --clr-accent-navbar: rgba(90, 0, 235, 0.9);
    --clr-gradient-accent: rgb(182, 0, 136);

    --bg-clr: rgb(250, 250, 250);

    /* Fuentes */
    --ff-primary: "Poppins", Arial, Helvetica, sans-serif;
    --ff-body: var(var(--ff-primary));
    --ff-heading: var(var(--ff-primary));

    /* Pesos de fuente */
    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    /* Otros estilos */
    --border-radius-primary: 6px;

    /* Texto fluido */
    --fs-1: clamp(0.75rem, calc(0.55rem + 0.69vw), 1.19rem);
    --fs-2: clamp(0.78rem, calc(0.59rem + 0.81vw), 1.4rem);
    --fs-3: clamp(0.88rem, calc(0.69rem + 1.06vw), 1.75rem);
    --fs-4: clamp(1.05rem, calc(0.81rem + 1.38vw), 2.19rem);
    --fs-5: clamp(1.26rem, calc(0.95rem + 1.79vw), 2.73rem);
    --fs-6: clamp(1.51rem, calc(1.11rem + 2.31vw), 3.42rem);
    --fs-7: clamp(1.81rem, calc(1.29rem + 2.98vw), 4.27rem);
    --fs-8: clamp(2.18rem, calc(1.51rem + 3.83vw), 5.34rem);

    --bs-1: clamp(2.38rem, calc(1.51rem + 2.79vw), 3rem);
}

/* ********** RESET ********** */
/* Estilos generales */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Estilos para el comportamiento de desplazamiento */
html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 75px);
}

/* Estilos para el cuerpo del documento */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--bg-clr);
    font-family: var(--ff-primary);
}

/* Estilos para encabezados y párrafos */
h1,
h2,
p {
    color: var(--clr-neutral);
}

h3 {
    color: var(--clr-accent);
}

/* Estilos para elementos multimedia */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

/* Estilos para enlaces */
a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

/* Estilos para listas */
li {
    list-style-type: none;
    text-align: center;
}

/* Estilos para identificadores específicos */
#root,
#__next {
    isolation: isolate;
}

/* ********** CLASES UTILITARIAS ********** */
/* ---------------------------------- TEXTO FLUIDO ----------------------------------*/
/* Estilos para los tamaños de fuente */
.fs-1 {
    font-size: var(--fs-1);
}

.fs-2 {
    font-size: var(--fs-2);
}

.fs-3 {
    font-size: var(--fs-3);
}

.fs-4 {
    font-size: var(--fs-4);
}

.fs-5 {
    font-size: var(--fs-5);
}

.fs-6 {
    font-size: var(--fs-6);
}

.fs-7 {
    font-size: var(--fs-7);
}

.fs-8 {
    font-size: var(--fs-8);
}

.bs-1 {
    font-size: var(--bs-1);
}

/* Estilos para diseños de columnas */
.two-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
    place-content: center;
}

/* Estilos para el contenedor principal */
.container {
    width: min(100% - 3rem, 120ch);
    margin-inline: auto;
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* ---------------------------------- COMPONENTES ----------------------------------*/
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes soft-pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Estilos para encabezado h2 dentro del contenedor */
.subtitulo-destacado {
    margin-block: clamp(3rem, 3.5rem, 5rem);
    text-align: center;
    font-weight: var(--fw-bold);
}

/* Estilos para las animaciones de transición */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-10%);
    transition: opacity 1s, filter 1s, transform 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.linkedin:hover {
    color: #0077b5;
}

.github:hover {
    color: #333;
}

.instagram:hover {
    color: #bc2a8d;
}

/* ---------------------------------- NAVEGACION ----------------------------------*/
/* Estilos para la barra de navegación */
.navegacion-primaria {
    position: sticky;
    top: 0;
    z-index: 1;
    padding-block: 10px;
    background-color: transparent;
}

.navegacion-secundaria {
    display: none;
}

/* Estilos para la barra de navegación "sticky" */
.sticky-nav {
    backdrop-filter: blur(5px);
    background-color: var(--clr-accent-navbar);
    transition: background-color 0.3s ease-in-out;
}

.sticky-nav a {
    color: var(--clr-white);
    transition: color 0.3s ease;
}

/* Estilos para los elementos de navegación */
.navegacion-links {
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-block: 0.5rem;
}

.navegacion-links a {
    font-weight: var(--fw-bold);
}

.navegacion-links a:hover,
.navegacion-links a:focus {
    color: var(--clr-neutral-400);
}

/* ---------------------------------- PORTADA ----------------------------------*/
/* Estilos para la clase .portada */
.portada {
    min-height: 100vh;
}

/* Estilos para las imágenes dentro de .perfil-imagen */
.perfil-imagen img {
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.1) 0px 20px 40px -10px,
        rgba(0, 0, 0, 0.2) 0px 12px 24px -12px;
}

/* Estilos para .perfil-informacion */
.perfil-informacion {
    grid-column: 2 / 3;
    padding: 1rem;
    align-self: center;
}

/* Estilos para los encabezados en .perfil-informacion */
.perfil-informacion h1 {
    background: linear-gradient(
        45deg,
        var(--clr-accent-700),
        var(--clr-gradient-accent)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: var(--fw-bold);
}

.perfil-informacion h2 {
    font-weight: var(--fw-bold);
    margin-block: 0.5rem;
}

/* Estilos para el experimento de clase .up */
.up:hover,
.up:focus {
    box-shadow: inset 0 -3.25em 0 0 var(--hover);
}

/* Variables para colores */
$colors: (
    up: #5a00eb,
);

/* Iterar a través de colores y aplicar estilos */
@each $perfil-curriculum, $color in $colors {
    .#{$perfil-curriculum} {
        --color: #{$color};
        --hover: #{$color};
    }
}

/* Estilos para .perfil-curriculum */
.perfil-curriculum {
    display: inline-block;
    color: var(--clr-accent-700);
    margin-top: clamp(1rem, 10%, 3.5rem);
    padding: 0.75em 2em;
    border: 2px solid var(--clr-accent-700);
    transition: 0.25s;
    font-weight: var(--fw-bold);

    &:hover,
    &:focus {
        border-color: var(--hover);
        color: #ffffff;
    }
}

/* Estilos para el contenedor .perfil-social */
.perfil-social {
    display: flex;
    margin-block: 2rem;
    align-items: baseline;
    justify-content: space-between;
    font-weight: var(--fw-bold);
    gap: 1rem;
    flex-wrap: wrap;
}

/* Estilos para la lista de iconos sociales .perfil-social-icons */
.perfil-social-icons {
    display: flex;
    gap: 2rem;
}

/* Estilos para los elementos de lista .perfil-social-icons li */
.perfil-social-icons li {
    display: flex;
    align-items: center;
}

/* Estilos para los enlaces .perfil-social-icons a */
.perfil-social-links {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

/* Estilos al hacer hover en los enlaces .perfil-social-icons a */
.perfil-social-icons a:hover {
    animation: pulse 1s infinite;
    transition: color 0.2s ease-in-out;
}

/* ---------------------------------- PROYECTOS ----------------------------------*/
// PROYECTO
.proyecto {
    margin-block: 2rem;
}

.proyecto-imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyecto-imagen img {
    width: 100%;
    border-radius: var(--border-radius-primary);
}

/* Estilos para la información del proyecto */
.proyecto-info {
    gap: 0.3rem;
    justify-content: center;
}

.proyecto-info > h3 {
    font-weight: var(--fw-bold);
}

/* Estilos para las tecnologías del proyecto */
.proyecto-tecnologias {
    display: flex;
    gap: 20px;
    margin-top: 1rem;
    flex-wrap: wrap;
}

/* Estilos para los enlaces del proyecto */
.proyecto-enlaces {
    display: flex;
    margin-top: clamp(0.25rem, 1.25rem, 2rem);
    gap: 2rem;
}

/* Estilos para los enlaces individuales */
.proyecto-enlaces a {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    transition: color 0.2s ease;
    border: 0.2rem solid var(--clr-accent-700);
    text-align: center;
    font-weight: var(--fw-bold);
}

/* Estilos para el primer enlace */
.proyecto-enlaces a:first-child {
    background-color: var(--clr-accent-700);
    color: var(--clr-white);
}

.proyecto-enlaces a:first-child:hover {
    background-color: var(--clr-white);
    color: var(--clr-accent-700);
}

.proyecto-enlaces a:nth-child(2):hover {
    background-color: var(--clr-accent-700);
    color: var(--clr-white);
}

/* ---------------------------------- HABILIDADES ----------------------------------*/

.sobre-mi {
    min-height: 50svh;
}

.sobre-mi-info {
    gap: 0.2rem;
    padding: 1.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 10px 40px -20px,
        rgba(0, 0, 0, 0.3) 0px 10px 60px -30px;
    border-radius: 20px;
    text-align: center;
    padding: 0;
    justify-content: center;
}

.sobre-mi-info > h3 {
    font-weight: var(--fw-bold);
}

.sobre-mi-info > p {
    padding: 1rem;
}

.sobre-mi-stack {
    gap: 2rem;
}

.sobre-mi-stack h3 {
    font-weight: var(--fw-bold);
}

.sobre-mi-tecnologias {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.tag {
    border-radius: var(--border-radius-primary);
    color: var(--clr-white);
    padding: 0.5rem;
    font-size: var(fs-1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* Agrega una sombra suave */
}

.tag:hover {
    animation: shake 1s infinite;
}

.tag-python {
    background-color: #306998;
}

.tag-django {
    background-color: #43b02a;
}

.tag-java {
    background-color: #d00000;
}

.tag-csharp {
    background-color: #8a63d2;
}

.tag-nodejs {
    background-color: #339933;
}

.tag-html {
    background-color: #e44d26;
}

.tag-css {
    background-color: #264de4;
}

.tag-javascript {
    background-color: #f7df1e;
}

.tag-react {
    background-color: #61dafb;
}

.tag-vue {
    background-color: #42b883;
}

.tag-github {
    background-color: #181717;
}

.tag-gitlab {
    background-color: #fca121;
}

.tag-azure {
    background-color: #0089d6;
}

.habilidades_tecnologias {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

/* ---------------------------------- INFORMACION DE CONTACTO ----------------------------------*/

.contact-form {
    /* Variables */
    --form-text-color: #666;
    --form-placeholder-color: #006999;
    --form-sucess-color: #4caf50;
    --form-error-color: #f44336;
    --form-border-color: #222;

    /* Propiedades */
    gap: 1.5rem;
    padding: 1rem;
}

.contact-form > * {
    width: 100%;
    font-size: var(fs-1);
    border-radius: 0.25rem;
    border: none;
    background-color: transparent;
    color: var(--clr-neutral-400);
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    padding: 1rem;
    outline: 2px solid var(--clr-accent-700);
    /* Quita el contorno predeterminado del foco */
}

.contact-form textarea {
    resize: none;
    outline: 2px solid var(--clr-accent-700);
    /* Quita el contorno predeterminado del foco */
}

.contact-form input[type="submit"] {
    flex-basis: 1;
    font-size: var(fs-2);
    font-weight: var(--fw-bold);
    background-color: var(--clr-accent-700);
    color: var(--clr-white);
    padding: 1rem;
    border-radius: var(--border-radius-primary);
}

.contact-form > *::placeholder {
    color: var(--clr-accent-700);
}

// .contact-form > *[required]:invalid {
//     outline: 2px solid var(--err);
// }

// .contact-form > *[required]:valid {
//     border: thin solid var(--form-sucess-color);
// }

.contact-form input[type="submit"]:hover {
    cursor: pointer;
    background-color: var(--clr-white);
    color: var(--clr-accent-700);
    outline: 2px solid var(--clr-accent-700);
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out,
        outline 0.2s ease-in-out;
}

.contacto-info {
    gap: 2rem;
    padding: 1rem;
}

.contacto-info > h3 {
    font-weight: var(--fw-semi-bold);
}

.contacto-info-icono {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.contacto-info-texto > a {
    color: rgb(99, 99, 99);
}

.contacto-info-datos {
    display: flex;
    gap: 1rem;
}

.circulo-fondo {
    position: relative;
    /* Establece la posición relativa para el contenedor */
    width: 50px;
    /* Ajusta el ancho y alto según tus necesidades */
    height: 50px;
    background-color: var(--clr-accent-700);
    border-radius: 50%;
    display: flex;
    /* Utiliza flexbox para centrar el contenido vertical y horizontalmente */
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
}

.circulo-fondo > i {
    color: var(--clr-white);
}

/* ---------------------------------- FOOTER CON REDES SOCIALES ----------------------------------*/

.footer-social {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

@media screen and (width <=37.5em) {
    .navegacion-links {
        display: none;
        /* Inicialmente oculto */
    }

    .sticky-nav {
        display: none;
    }

    // PORTADA

    .perfil-imagen {
        grid-column: auto;
    }

    .perfil-imagen img {
        border-radius: var(--border-radius-primary);
    }

    .perfil-informacion {
        grid-column: auto;
    }

    /* Estilos del menú de hamburguesa */
    .navegacion-secundaria {
        display: block;
    }

    .menu-toggle {
        cursor: pointer;
        margin-block: 2rem;
        padding-block: 5px;
        justify-content: space-between;
        width: 35px;
        height: 30px;
        background-color: transparent;
        outline: none;
    }

    .navegacion-links {
        padding: 0;
        margin: 0;
    }

    .navegacion-links a {
        color: var(--clr-white);
    }

    .navegacion-links a:hover {
        color: var(--clr-accent-700);
    }

    .bar {
        width: 30px;
        height: 3px;
        background-color: var(--clr-accent-700);
        transition: 0.4s;
    }

    .open {
        opacity: 0.9;
        /* Hace que el menú sea visible */
        display: flex;
        flex-direction: column;
        position: fixed;
        margin-block: 0;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background-color: #000000;
        /* Fondo del menú */
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        transition: opacity 0.4s ease;
        /* Agregamos una transición de opacidad */
    }

    .open li {
        padding-block: 20px;
        /* Ajusta el espaciado uniforme entre elementos */
        text-align: center;
        width: 100%;
    }

    .open a {
        opacity: 1;
        color: var(--clr-accent-700);
        font-size: 1.5rem;
        /* Tamaño de fuente para los proyecto-enlaces */
        display: block;
    }

    .open a:hover {
        background-color: var(--clr-accent-700);
        color: var(--clr-white);
        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    }

    // PROYECTO
    .proyecto {
        gap: 2rem;
        margin: 1rem;
        padding: 0;
    }

    .proyecto-imagen:nth-child(2) {
        grid-row: 1/2;
    }

    .proyecto-info:nth-child(2) {
        grid-row: 2/3;
    }

    .proyecto-info {
        margin-top: 0.5rem;
    }

    .proyecto-enlaces {
        flex-direction: column;
        gap: 1rem;
        margin-block: 0.5rem;
    }

    // Habilidades
    .sobre-mi-stack {
        gap: 1rem;
    }

    // Contact

    .contacto > * {
        padding: 0;
    }

    // Footer

    .footer-social {
        margin-block: 3rem;
    }
}

@media screen and (width <=48em) {
    // PORTADA
    .portada {
        margin-block: 2rem;
    }

    .perfil-imagen {
        grid-column: auto;
    }

    .perfil-imagen img {
        border-radius: var(--border-radius-primary);
    }

    .perfil-informacion {
        grid-column: auto;
    }

    .contacto-info-datos {
        display: flex;
        gap: 0.25rem;
        flex-wrap: wrap;
    }
}

@media screen and (width <=64em) {
    .perfil-imagen {
        grid-column: auto;
    }

    .perfil-imagen img {
        border-radius: var(--border-radius-primary);
    }

    .perfil-informacion {
        grid-column: auto;
    }
}

/* Estilos para manejar la reducción de movimiento */
@media (prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
